<app-headeropti></app-headeropti>

<div class="container" style="padding:0">
  <div class="row" style="height: calc(100vh - 50px)">
    <div class="col">
      <div class="tit">Escanear código QR</div>
      <div class="subtit">Escanea el código de la mesa para iniciar tu pedido</div>

      <!-- QR ACA -->
      <div class="contqr">
        <div class="qr-reader">
          <div style="overflow: hidden; width:80vw; height:80vw; z-index:1; background-color:  rgb(37, 37, 37);">
            <zxing-scanner [formats]="allowedFormats" (scanSuccess)="onScanSuccess($event)" previewFitMode="cover" [timeBetweenScans]="1000">
            </zxing-scanner>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-secondary" type="submit" [routerLink]="['/']" routerLinkActive="router-link-active">
      Cancelar
    </button>
    <button class="btn btn-secondary btn-block" (click)="skipScan()">
      Saltear
    </button>
    <button class="btn btn-secondary btn-block" (click)="goToMenu()" *ngIf="showVerMenu">
      Ver Menú
    </button>
  </div>
</div>
