<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Categorias:</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >

        <li class="nav-item active category-link" *ngFor="let category of itemCategories" (click)="filterByCategory($event)">
          <a class="nav-link" >{{category?.name}}</a>
        </li>

    </ul>
  </div>
</nav>

<div *ngFor="let item of itemsFiltered">
  <app-item [item]="item"></app-item>
</div>
