.category-link{
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    margin: 20px;
    cursor: pointer;
}

#navbarSupportedContent{
  text-align: center;
  justify-content: center;
}

.category-selected {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: darkblue;
}
